{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid" >
    <span><p style="color:light;font-size:14px; mb-2">{{variable}}</p></span>
  
    <form class="d-flex">
            <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid my-1" >
  <table class="table border">
    <thead>
      <tr class="col-md-5 col-sm-4-px-0">
        <th scope="col" style="font-size:14px">Start Time</th>
        <th scope="col" style="font-size:14px">Duration</th>
        <th scope="col" style="font-size:14px">Time Left</th>
        <th scope="col" style="font-size:16px">Event</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td scope="row" style="font-size:14px">
        {% for i in start_time %}
        {{i}}<br>{% endfor %}
        {% comment %} {{response}} {% endcomment %}
        </td>
        <td scope="row" style="font-size:14px">
        {% for i in duration %}
        {{i}}<br>{% endfor %}
        {% comment %} {{response}} {% endcomment %}
        </td>
        <td scope="row" style="font-size:14px">
        {% for i in timeleft %}
        {{i}}<br>{% endfor %}
        {% comment %} {{response}} {% endcomment %}
        </td>
        <td scope="row" style="font-size:14px">
        {% for i in event %}
        {{i}}<br>{% endfor %}
        {% comment %} {{response}} {% endcomment %}
        </td>
      </tr>
      {% comment %} <tr>
        <th scope="row" style="font-size:14px">{{response}}[0].Country</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr> {% endcomment %}
      {% comment %} <tr>
        <th scope="row" style="font-size:14px">{{response}}[0].Country</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr> {% endcomment %}

    </tbody>

  </table>
</div>
{% endblock body %}